body{
    background:rgb(0, 0, 0);  
}
#container{
    width:1100px;
    margin:auto;
    
}
header{
    height:30px;
    background:rgb(0, 0, 0);
    color: azure;
}


main{
    width : 800px;
    height:600px;
    background:rgb(0, 0, 0);
    float : right ;
    justify-content:"center";
    justify-items : "center";
    display :"center";
    
}

aside{
    width :300px;
    height : 600px;
    background:rgb(0, 0, 0);
    float : left;
    
}
.finaltest{
    justify-content: center;
    color: white;
    text-justify: center;
    margin : auto;
    
    padding : 10px;
    font-size : x-large ;
    text-align : center;
    position: relative;
   
}




.textarea1{

height:200px;
width : 200px;
color : white;
background : black ;
border: 1px solid blue;
border-radius: 7px;


}
.borj{
    position: relative;

    top: 80px;
    left: 50px;

    height:50px;
    width :430px;
    color : white;
    background : black ;
    border: 1px solid rgb(65, 16, 179);
    border-radius: 7px;
    justify-content: center;
    justify-items: center;
    
    
    }

.best{
    margin : auto;
    bottom : 50px;
    padding : 3px;
    font-size : x-large ;
    text-align : center;
}



th{
    color:cyan;
    border:2px solid blue;

}

td{
    color:white;
    border:2px solid blue;

}


table{

    justify-content:center;
    justify-items:center;
    font-size:large;
    border:2px solid blue;
    text-align:center;
    direction:right;

    background:black;
   


    
}

.h_class{
    color :blue;
    font-size: x-large;
    justify-content: center;
    justify-items: center;
    margin: 10px;
    position: relative;
   
}

.img_sonny{
    width:500px  ;


}

.inputa{
    height:300px;
    width:400px;
    background : blue;
}

.x{
    color:red;
    
    

}
.best4{
    color: rgb(255, 255, 255);
   
}

.linkyou{
    color: blue;
}

.eljafr{
    position: relative;
    justify-content: center;
    margin: auto;
    justify-items: center;
    left: 25%;
}

#a {
    position: relative;
    top: 50px;
    left: 80px;

    padding: 10px;
    background: blue;
    color: azure;
 border: 1 px solid white;
 border-radius: 9px;
 cursor: pointer;
 font-size: x-large;
 justify-content: center;
 justify-items: center;
 text-justify: center;
 margin: auto;
}
#a:hover{

    background: azure;
    color: blue;
}

#kasim12{
    color: antiquewhite;
}
.colorada  {

   color: aliceblue !important;


}





.jadoual{
    position: relative;
   top: -400px;
   left: 120px;
}


.ouihda{
    position: relative;
   top: -580px;
   left: 700px;
}

.minoa{
   
    position: relative;
   top: -660px;
   left:700px; 
}


.linkas{
position: relative;
left: 10px;
    color: rgb(250, 255, 252);
    background-color: blue;

}


/* 
.select-container{
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 150px;
    height: 80px;
    font-size: 20;
}
.select-box{

    border: none;
    appearance: none;
    width: 50%;
    color: rgb(11, 42, 70);
}


END select */
